/cl.py
/creating_embeddings.py
/executable.txt
/pic.jpg
/volumes
/__pycache__
test.jsonl
/image_embeddings_complete
/title_embeddings
/image_folder
title_embeddings/stats/0.json
Milvus_docker/important files/tcp ports.png
Milvus_docker/important files/milvus commands to run.txt
text/test.txt
Milvus_docker/Milvus docker run files/milvus template screenshot.png
Milvus_docker/Milvus docker run files/milvus commands to run.txt
sample_image.jpeg
yellow.jpeg
.gitignore
download.jpeg
head band.jpg
semantic_search_app (copy).py
App/flagged
App/combine_results/__pycache__
App/embeddings/__pycache__
App/interface/__pycache__
App/milvus_db/__pycache__
App/model/__pycache__
App/search/__pycache__
App/utils/__pycache__
App/__pycache__/semantic_search_app.cpython-311.pyc
volumes.zip
App/__pycache__/semantic_search_app.cpython-312.pyc
